<h1><%= @member.name %> (member)</h1>

<p>Address: <%= @member.address %></p>
<p>Telephone: <%= @member.telephone %></p>
<p>Email: <%= @member.email %></p>
<p>Age: <%= @member.age %></p>

<p>


<ul>
  <% @member.gymclasses.each do |gymclass| %>
  <li><%= gymclass.name %></li>
  <% end %>
</ul>
<a href="/members/new">Modify information</a>
